<nav class="navbar">
    <div class="nav-container">
    <div class="div1">
        <img src="../assets/images/caplogo.jpg">
    </div>
    <div class="div2">
        <ul>
            <a routerLink="list">
                <li >
                    List
                </li>
            </a>
            <a routerLink="create">
                <li >
                    <a>Create</a>
                </li>
            </a>
            
        </ul>
    </div>
</div>
</nav>
<router-outlet></router-outlet>